<div class="tv">
	<h5><a href="/project/information">Click here to find out more about this Project</a></h5>
<script type="text/javascript" src="/js/ajax.min.js"></script>

<h1 class="header">Binge Away, {{user.username}}</h1>
	<ul>
		{{#each user.lists}}
		<li>
			<a href="list/{{this.name}}">
				{{this.name}}
			</a>
		</li>
		{{/each}}
	</ul>

<h1>Create a new List of TV Shows</h2>
	<form method="POST" action="/list/create" class="form">
		<br/>
		Name: <input type="text" name="name">
		<input type="hidden" name="username" value={{user.username}}>
		<input type="submit" value="Create New List">
		<br/>
	</form>
	<h3>
		{{#if message}}
			{{message}}
		{{/if}}
	</h3>
</div>
